@model AD___2FA.Models.TbCurriculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbCurriculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Graduacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Graduacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnosExperiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnosExperiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CursosRealizados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CursosRealizados)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCurriculo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
