@model IEnumerable<AD___2FA.Models.TbDisciplinas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCursoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProfessorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCursoNavigation.Ementa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProfessorNavigation.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDisciplinas">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDisciplinas">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDisciplinas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
